[MASTER]
init-hook='import sys; sys.path.append("/home/fillipe/.cache/pypoetry/virtualenvs/data-processing-Wtn4UYS9-py3.10/lib/python3.10/site-packages")'

export PYTHONPATH=$PYTHONPATH:/home/fillipe/.cache/pypoetry/virtualenvs/data-processing-Wtn4UYS9-py3.10/lib/python3.10/site-packages
